.body {font-family: Arial, sans-serif;margin: 0;padding: 0;}

.header {background-color: #333;color: white;padding: 10px 0;text-align: center;}

.nav-ul {list-style: none;padding: 0;}

.nav-li { display: inline;margin-right: 20px;}

.nav-a {color: white;text-decoration: none;}

.main {display: flex;justify-content: space-between;margin: 20px;}

.content {flex: 2;padding-right: 20px;}

.sidebar {flex: 1;background-color: #f3f3f3;padding: 10px;}

.footer {background-color: #333;color: white;text-align: center;padding: 10px 0;}
        
.inicio {text-align: right;list-style: none;padding: 0;font-family: Arial, sans-serif;margin: 0;padding: 0;}

.boton {color:black; background-color:#1877f2; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer; text-decoration: none;}
.boton:hover {background-color: #1566d0;}